:root {
  --h1-font: 58px;
  --h1-font-mobile: 38px;
  --h2-font: 32px;
  --h2-font-mobile: 24px;
  --h3-font: 18px;
  --h3-font-big: 21px;
  --p-mobile-big: 16px;
  --p-font: 14px;
  --p-font-mobile: 12px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
}

.hero {
  background-color: #e7f2fc;
  min-height: 714px;
  position: relative;
  overflow-x: hidden;
}
.coll {
  color: #38aa34;
}
.hero_flex {
  height: 714px;
  padding-top: 8.5rem;
}
.hero_flex h1 {
  position: relative;
  color: #092c4c;
  font-family: Manrope;
  font-size: var(--h1-font);
  font-style: normal;
  font-weight: 700;
  line-height: 103.6%;
  z-index: 2;
  max-width: 50.0625rem;
}
.hero_flex::before {
  content: url(/lp/hero-img.png);
  position: absolute;
  top: 70px;
  left: 60%;
  z-index: 1;
  size: 33rem;
  overflow-x: hidden;
}
.pointer {
  position: relative;
  left: 1.8rem;
  top: 6px;
}
.trust {
  background-color: #fafafa;
  margin-top: -20rem;
}
.trust_flex {
  display: flex;
  align-items: center;
}

.hero_search {
  position: relative;
  z-index: 2;
  margin-top: 5rem;
}
.search_flex {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #384766;
  background: transparent;
  width: 70%;
  height: fit-content;
}
#worker {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 65%;
}
#location {
  width: 88%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.marker {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #fff;

  width: 35%;
  display: flex;
}
.marker::before {
  content: url(/lp/pin.png);
  position: relative;
  z-index: 13;
  bottom: -5px;
  right: -15px;
}
.search_box {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 1.7rem;
}
.search_flex select {
  border: none;
  color: #384766;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  line-height: normal;
}
select {
  background-color: #fff;
}

.search_box input[type="submit"] {
  border: none;
  background-color: #384766;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 3.48rem;
  font-family: Manrope;
  font-size: var(--p-font);
}

.trust_flex p {
  color: #092c4c;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

/* ----------------- SWIPER STYLE ----------------- */
ul.swiperr {
  display: flex;
  padding: 25px 0;
  list-style: none;
  overflow-x: scroll;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  -webkit-overflow-scrolling: touch;
}

ul.swiperr li {
  display: flex;
  padding: 1rem;
  row-gap: 0.5rem;
  scroll-snap-align: start;
  position: relative;
  flex-direction: column;
  background-color: #2a3f61;
  border-radius: 0.5rem;
  min-width: 13rem;
}
ul.swiperr li img {
  width: 100%;
  height: 15rem;
}
ul.swiperr li .text,
.trusted {
  display: flex;
  justify-content: space-between;
}
ul.swiperr li h6 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
ul.swiperr li .text p,
.align {
  color: #fff;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}
.shield {
  color: #f87615;
}
.trusted {
  color: #fff;
}
.col {
  color: #ffc727;
}
ul.swiperr li p {
  color: #fff;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.top .content h2 {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--h2-font);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 3rem;
}
.top {
  margin: 6rem 1rem 6rem 1rem;
}
/* ----------- Business/Join Section --------- */
.business,
.join {
  width: 100%;
  background-color: #2a3f61;
}
.business_content,
.join_content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bus_text,
.join_text {
  /* margin: 0 auto; */
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.bus,
.firststep {
  width: calc(50% - 10px);
}
.bus_text {
  width: 50%;
}
.text_content {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text_content h3 {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text_content h2 {
  color: #fff;
  font-family: Manrope;
  font-size: calc(var(--h2-font) - 5px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text_content p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_content button {
  width: fit-content;
  border: 0;
  color: #092c4c;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: #ffc727;
}
/* ------------ Browse section ----------- */
.browse {
  margin: 3rem 10px;
}
.browse h3 {
  color: #2a3f61;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.browse h4 {
  color: #092c4c;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3rem;
}
.browse_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.browse_flex .row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #e7f2fc;
}
.browse_flex .row p {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  max-width: 13rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse_flex .row img {
  width: 3rem;
}
.mg {
  margin: 0 10px;
}
/* ---------- Client/Feedback ------------------ */
.client {
  margin: 0 auto;
  max-width: 1024px;
}

ul.feedback {
  margin: 6rem 10px;
  display: flex;
  padding: 25px 0;
  list-style: none;
  overflow-x: scroll;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  -webkit-overflow-scrolling: touch;
}
ul.feedback li {
  display: flex;
  padding: 1.5rem 1rem;

  row-gap: 1rem;
  scroll-snap-align: start;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.25);
  min-width: 15rem;
  transition: all 0.5s ease-in-out;
}

ul.feedback li:hover {
  background-color: #2a3f61;
  color: #fff !important;
  scale: 1.1;
}
ul.feedback li img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
ul.feedback li h3 {
  /* color: #000; */
  text-align: center;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
ul.feedback li p {
  /* color: #000; */
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  height: 9.125rem;
  line-height: normal;
}
.star {
  display: flex;
  font-size: 20px;
  color: #ffc727;
  margin-bottom: -1rem;
}

/* --------------- Learn/impact ------------ */
.end {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(42, 63, 97, 1) 50%,
    rgba(23, 161, 250, 1) 50%
  );
}
.end_content {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
.learn,
.impact {
  color: #fff;
  max-width: 32rem;
  margin: 3rem 10px;
}
.learn_content,
.impact_content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.learn h2,
.impact h2 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--h2-font);
  font-style: normal;
  font-weight: 800;
  line-height: 3.69375rem; /* 105.536% */
}
.learn p,
.impact p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 500;
}
button h3 {
  color: #092c4c;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.end button {
  border-radius: 1rem;
  background: #ffc727;
  border: none;
  text-align: left;
  width: fit-content;

  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 0.5rem 1rem;
}
.flex_btn {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-top: 0.5rem;
}
.p {
  font-size: 3rem;
}
/* -------------- Footer ------------- */
footer {
  max-width: 1024px;
  margin: 3rem auto;
}
.top_footer_flex {
  display: flex;
  justify-content: space-between;

  max-width: 1024px;
  margin: 0 10px 0 10px;
}
.top_footer_row_one {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35%;
  border-right: 1.5px solid #000;
}
.top_footer_row_one p {
  color: #000;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem !important;
}
.social img {
  max-width: 6.9375rem;
  max-height: 2.1875rem;
}
.top_footer_row_one a {
  font-size: var(--p-font);
  text-decoration: none;
  color: #000;
}
.top_footer_row_two {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.row_two h4 {
  margin: 10px 0;
  color: #2a3f61;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer ul li a {
  color: #000;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.footer {
  background-color: #2a3f61;
}

.footerr {
  max-width: 1024px;
  margin: 0 auto;
}

.footer_content {
  margin: 0 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.copyright {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem 0;
}
.links a {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.links {
  display: flex;
  margin: 1rem 0;
  gap: 2rem;
}
@media (max-width: 890px) {
  .links {
    display: none;
  }
  .business_content,
  .join_content {
    flex-direction: column-reverse;
  }
  .text_content,
  .bus_text,
  .join_text {
    width: 95%;
    margin-bottom: 1rem;
  }
  .bus,
  .firststep {
    margin: 0 auto;
    width: 90%;
    height: 20rem;
  }

  .browse_flex .row {
    max-width: 17rem;
    width: 100%;
  }
  .browse_flex .row p {
    max-width: 15rem;
  }
  .bus_text,
  .join_text {
    margin: 0 auto;
  }
  .end {
    flex-direction: column;
  }
  .learn,
  .impact {
    width: 100%;
  }
  .text_content h2 {
    font-size: var(--h2-font-mobile);
  }

  .end {
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(42, 63, 97, 1) 50%,
      rgba(23, 161, 250, 1) 50%
    );
  }
  .end_content {
    flex-direction: column;
  }

  .impact,
  .learn {
    margin: 10px auto;
    width: 100%;
  }
  .top_footer_flex {
    flex-direction: column;
    row-gap: 2rem;
  }
  .top_footer_row_two {
    width: 100%;
  }
  .top_footer_row_one {
    width: 60%;
    border: none;
    margin: 0 auto;
    border-bottom: 1.5px solid #000;
  }
  .search_box {
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
    align-items: center;
  }
  .search_flex {
    /* margin: 0 auto; */
    width: 90%;
  }
  .hero_flex h1 {
    font-size: var(--h1-font);
    margin-left: 10px;
  }

  .search_box input[type="submit"] {
    width: 15rem;
    padding: 1rem;
  }
}
@media (max-width: 670px) {
  .trust_flex {
    position: relative;
    z-index: 3;
  }
}
@media (max-width: 530px) {
  .top_footer_row_two {
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    gap: 2rem;
  }
  .search_flex {
    flex-direction: column;
  }
  #worker {
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
  #location {
    width: 100%;
  }
  .marker {
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
  .social {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem !important;
  }
  .trust_flex {
    margin-top: 3rem;
  }
  .trust {
    position: relative;
    z-index: 3;
  }
}
@media (max-width: 507px) {
  .hero_flex h1 {
    font-size: var(--h1-font-mobile);
  }
  .search_flex {
    width: 100%;
  }
  .trust_flex {
    flex-direction: column;
    gap: 1rem;
  }
  .search_flex select {
    font-size: 12px;
  }
  .hero_search {
    margin-top: 4rem;
  }
  .product {
    margin: 0;
    gap: 0;
    flex-direction: column;
  }
  .hero_flex::before {
    top: 110px;
    left: 20%;
    z-index: 1;
    size: 33rem;
  }
  .nav_content {
    padding: 1rem !important;
  }
  footer {
    text-align: center;
  }
}
@media (max-width: 330px) {
  .text_content h3 {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  ul.swiperr li,
  ul.feedback li {
    /* min-width: 14rem !important; */
    min-width: 85% !important;
    margin: 0;
  }
}

/* ---------------Navbar --------------------- */
nav {
  background-color: #2a3f61;
}

.nav_content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 59px 10px;
  gap: 1rem;
}
.nav_content_left {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  gap: 2rem;
}
/* ======================INFO BUTTON ================ */
.dropbtn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  background-color: transparent;
  border: none;
  font-weight: 500;
  line-height: 1.75rem; /* 175% */
}
.sty {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 175% */
  text-decoration: none;
}
.sty:hover,
.dropbtn:hover {
  color: #ffc727;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #2a3f61;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:active {
  border-bottom: 1.5px solid black;
}

.dropdown:active .dropdown-content {
  display: block;
}

.login_btn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}

.signup_btn {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
}
.log_siginbtn {
  display: flex;
  column-gap: 2rem;
}

.omo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.mobilev {
  display: none;
}
.mobile-link {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a3f61;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 908px) {
  .omo {
    display: none;
  }
  .mobilev {
    display: flex;
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #fff;
    width: 18rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
  .nav_content_left {
    flex-direction: column;
  }
}
.dropdown-content a {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* --------- Signup --------- */
.signupoption {
  max-width: 1024px;
  margin: 0 auto;
}
header.logo {
  margin: 1rem;
  max-width: 16rem;
}
header.logo img {
  width: 100%;
}
.signupoption_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.3rem;
  margin: 0 auto;
}
.signupoption_content img {
  height: 100%;
}
.signupoption_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 59rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  margin: 0 1rem;
  text-decoration: none;
}
.signupoption_text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.signupoption_box h4 {
  color: #2a3f61;
  font-family: Manrope;
  font-size: calc(var(--h2-font-mobile) - 4px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  max-width: 29.5rem;
}
.size {
  font-size: 2.5rem;
  color: #2a3f61;
}
.signupoption_box p {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1.5rem;
}
.signupoption_content p.lo {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.signupoption_content a.lo {
  color: #077bc6;
  text-align: center;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* ------------ Talent Signup ------------- */
.talentsignup {
  background-color: #2a3f61;
  padding-top: 0.1px;
  padding-bottom: 5rem;
}
.talentsignup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.talentsignup_content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 30rem;
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 10px 16px 0px rgba(42, 63, 97, 0.25);
}
.inputfield {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.policy {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.policy p {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  max-width: 38rem;
  font-weight: 600;
  line-height: normal;
}

.talentsignup h2 {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h1-font-mobile);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.signupextention {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin: 1rem 0;
}
.talentsignup label {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 30rem;
  margin: 0 auto;
}
.talentsignup_form input[type="text"],
.talentsignup_form input[type="tel"],
.talentsignup_form input[type="password"],
.talentsignup_form input[type="email"] {
  width: 28rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 2px solid #2a3f61;
  padding: 0.6rem 1rem;

  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.talentsignup_form input[type="checkbox"] {
  width: 2rem;
}
.talentsignup_form input[type="submit"] {
  width: 80%;
  padding: 1rem;
  background-color: #2a3f61;
  border: none;
  border-radius: 0.5rem;
  font-family: Manrope;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--p-font);
  margin: 0 auto;
}
.signupextention a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  border-radius: 1rem;
  border: 2px solid #2a3f61;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.margin_content {
  max-width: 1024px;
  margin: 0 auto;
}
header.logo2 {
  margin: 1rem 0 3rem 0;
  max-width: 16rem;
}
header.logo2 img {
  width: 100%;
}
.log {
  color: #2a3f61;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1rem 0;
}
.log a {
  text-decoration: none;
}
.error {
  background-color: #092c4c;
  color: #fff;
  font-size: var(--p-font);
  font-family: Manrope;
  padding: 0.5rem 1rem;
  border-radius: 01rem;
}

/* ---------- Compaany signup-------------- */
.companysignup {
  background-color: #2a3f61;
  padding-top: 0.1px;
  padding-bottom: 5rem;
}
.companysignup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.companysignup_content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 30rem;
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 10px 16px 0px rgba(42, 63, 97, 0.25);
}
.companysignup h2 {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h1-font-mobile);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.companysignup input[type="submit"] {
  width: 80%;
  padding: 1rem;
  background-color: #2a3f61;
  border: none;
  border-radius: 0.5rem;
  font-family: Manrope;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--p-font);
  margin: 0 auto;
}
.companysignup label {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 30rem;
  margin: 0 auto;
}
.companysignup_form input[type="text"],
.companysignup_form input[type="tel"],
.companysignup_form input[type="password"],
.companysignup_form input[type="email"] {
  width: 28rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 2px solid #2a3f61;
  padding: 0.6rem 1rem;

  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.companysignup_form input[type="checkbox"] {
  width: 2rem;
}

.companysignup .sub {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 550px) {
  .content,
  .join_content,
  .client,
  .end_content,
  footer,
  .top_footer_flex,
  .footerr,
  .nav_content,
  .signupoption,
  .margin_content {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .talentsignup_content,
  .companysignup_content {
    width: 80vw;
  }
  .talentsignup label,
  .companysignup label {
    width: 70vw;
  }
  .talentsignup_form input[type="text"],
  .talentsignup_form input[type="tel"],
  .talentsignup_form input[type="password"],
  .talentsignup_form input[type="email"],
  .companysignup_form input[type="text"],
  .companysignup_form input[type="tel"],
  .companysignup_form input[type="password"],
  .companysignup_form input[type="email"] {
    width: 80% !important;
  }
}
@media (max-width: 520px) {
  .signupoption_box {
    flex-direction: column;
  }

  .signupoption_text {
    text-align: center;
  }
  .signupextention {
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }
}

/* ---------------------- LOGIN --------------- */
.login-right {
  background-color: #2a3f61;
  padding-top: 0.1px;
  /* padding-bottom: 5rem; */
  width: 60%;
  height: 100vh;
}
.login-left {
  width: 40%;
}
.login-flex {
  display: flex;
  width: 100%;
}
.login-left_content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1.5rem;
}
.login-left_content h2 {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h1-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.loginextention {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.loginextention a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  letter-spacing: 0.15rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;

  border-radius: 1rem;
  border: 2px solid #2a3f61;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.or {
  display: block;
  /* flex-direction: column; */
  width: 100%;
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.or {
  width: 80%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.or hr {
  transform: rotate(180deg);
  width: 40%;

  border-color: #2a3f61;
}
.login_form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--p-font);
}
.login_form input[type="password"],
.login_form input[type="email"] {
  width: 100%;
  /* margin: 0 auto; */
  border-radius: 0.5rem;
  border: 2px solid #2a3f61;
  padding: 0.6rem 1rem;

  color: #2a3f61;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.log-inputfield {
  display: flex;

  gap: 0.3rem;
  width: 100%;
}
.login_form input[type="submit"] {
  border: none;
  background-color: #384766;
  color: #ffffff;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  padding: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* padding: 1.2rem 3.48rem; */
}
.check {
  display: flex;
  gap: 0.25rem;

  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-extra {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.login-extra a {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.loginhr {
  width: 90%;
  border-color: #2a3f61;
}
.logg {
  color: #077bc6;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.login-right_flex {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
}
.login-right_flex img {
  width: 100%;
  height: 70vh;
}
.login-right_flex h3 {
  color: #fafafa;
  text-align: center;
  font-family: Manrope;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 97.6%; /* 3.904rem */
}
.coll {
  color: #38aa34;
}

@media (max-width: 900px) {
  .content,
  .join_content,
  .client,
  .end_content,
  footer,
  .top_footer_flex,
  .footerr,
  .nav_content,
  .signupoption,
  .margin_content {
    max-width: 768px;
    margin: 0 auto;
  }
  .login-right {
    display: none;
  }
  .login-left {
    width: 80%;
    margin: 0 auto;
  }
  .login_form {
    width: 90%;
  }
  .login-extra {
    width: 80%;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }
  .login_form input[type="submit"] {
    max-width: 100%;
  }
}

/* ------------ About Us ---------- */
/* .about {
  max-width: 1024px;
  margin: 0 auto;
} */
.about h2 {
  color: #2a3f61;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: 3.69375rem; /* 105.536% */
}

.who-we-are {
  padding: 30px;
  background-color: #e7f2fc;
}
.who-we-are p {
  max-width: 1024px;
  margin: 0 auto;

  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font-big);
  font-style: normal;
  font-weight: 350;
  line-height: 2.5rem;
}
.what-we-want {
  padding: 30px;
}
.what-we-want p {
  max-width: 1024px;
  margin: 0 auto;

  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 350;
  line-height: 1.71875rem; /* 114.583% */
  /* padding: 40px; */
}
.what-we-want p .xt {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.71875rem; /* 68.75% */
}
.global-impact h2 {
  color: #2a3f61;
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: var(--h2-font);
  margin-top: 50px;
  margin-bottom: 0px;
}

.global_flex {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1024px;
  margin: 3rem auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 linear-gradient(104.09deg, #e6207f 2.3%, #144adb 98.44%);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px
      linear-gradient(104.09deg, #e6207f 2.3%, #144adb 98.44%);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 linear-gradient(104.09deg, #e6207f 2.3%, #144adb 98.44%);
  }
}
.global_row {
  display: flex;
  background-color: #2a3f61;

  padding: 30px;
  gap: 20px;
  align-items: center;
}
.global_row:hover {
  animation: pulse 5s infinite;
}
.global_row img {
  width: 120px;
  height: 120px;
}
.global_row-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.global_row-txt h6 {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.global_row-txt p {
  color: #fff;

  /* body/regular */
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 116.667% */
}

/* ------------- TandC ----------- */
.tandc_hero {
  background-color: #009cd1;
}

.tandc_hero_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.tandc_hero_content-txt {
  width: 40%;
}
.tandc_hero_content-txt h3 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--h3-font);
  padding-top: 20px;
  margin: 10px 0;
  font-style: normal;
  font-weight: 700;
  line-height: 2.35625rem; /* 117.813% */
}
.tandc_hero_content-txt hr {
  background-color: #ffc727;
  height: 10px;
  border: none;
  margin: 20px 0;
  border-top: 1px solid #fff;
}
.tandc_hero_content-txt p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.51875rem;
}
.tandc_hero_content img {
  max-width: 55%;
  height: 30rem;
}

/* ------------- tandc_main ---------- */
.tandc_main {
  max-width: 1024px;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
}
.tandc_main video,
.tandc_main img {
  max-width: 47.5%;
}

/* ---------Become an instollar ------------ */
.become {
  background-color: #2a3f61;
}
.become_content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}
.become_content h4 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 140% */
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}
.become_content_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.become_txt {
  max-width: 50%;
}
.become_content_flex img {
  max-width: 45%;
}
.step {
  color: #ffc727;
  font-family: Manrope;
  font-size: var(--p-font-big);
  font-style: normal;
  font-weight: 800;
  line-height: 2.775rem; /* 138.75% */
}
.desc {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 137.5% */
}
.ionboarding {
  margin-top: 3rem;
  max-width: 1024px;
  margin: 3rem auto;
}
.ionboarding h3 {
  color: #2a3f61;
  text-align: center;

  /* Heading 2 */
  font-family: Manrope;
  font-size: var(--h3-font);
  font-style: normal;
  font-weight: 700;

  line-height: 1rem; /* 26.667% */
}

.ionboarding img {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 1023px) {
  .tandc_hero_content,
  .become_content,
  .ionboarding,
  .tandc_main,
  .ibusiness_content,
  .sponsorship_head_content,
  .sponsorship_main_content,
  .main_alt {
    max-width: 90% !important;
  }
}
@media (max-width: 930px) {
  .tandc_hero_content,
  .tandc_main,
  .ibusiness_flex,
  .inner_img_flex {
    flex-direction: column;
  }
  .become_content_flex {
    margin-bottom: 2rem;
  }
  .become_content_flex:nth-child(even) {
    flex-direction: column;
  }
  .become_content_flex:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .tandc_hero_content-txt,
  .ibusiness_flex-txt {
    width: 85% !important;
    align-items: center;
  }
  .tandc_hero_content img,
  .tandc_main video,
  .tandc_main img,
  .become_content_flex img,
  .ibusiness_flex img,
  .become_txt {
    max-width: 85% !important;
  }
  .ionboarding img {
    max-width: 100% !important;
  }
  .img_flex,
  .inner_img_flex {
    max-width: 100%;
    align-items: center;
    row-gap: 1rem;
  }
  .img_flex img {
    width: 60% !important;
    max-width: 80% !important;
  }
  .badge {
    flex-direction: column;
  }
  .badge_img {
    flex-direction: row !important;
    max-width: 100%;
    justify-content: center;
  }
  .badge_img img {
    max-width: 100%;
  }
  .badge_txt p,
  .badge_txt h2,
  .main_alt h2,
  .main_alt h3,
  .main_alt p {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .global_row {
    flex-direction: column;
  }
  .global_row-txt {
    align-items: center;
  }
  .global_row-txt p {
    text-align: center;
  }
  .flex_btnn {
    flex-direction: column;
    text-align: center;
  }
  .badge_img {
    flex-direction: column !important;
    margin-top: 2rem;
  }
}

.ibusiness_hero {
  background-color: #2a3f61;
}
.ibusiness_flex {
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  width: 100%;
}
.ibusiness_flex img {
  max-width: 50%;
}
.ibusiness_flex-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.ibusiness_flex-txt h3 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.ibusiness_flex-txt h2 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--h1-font-mobile);
  font-style: normal;
  font-weight: 500;
  line-height: 103.6%; /* 5.18rem */
  margin-bottom: 10px;
}
.ibusiness_flex-txt p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ibusiness_flex-txt .talk {
  background-color: #ffc727;
  text-decoration: none;
  padding: 15px;
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  border-radius: 0.5rem;
}
.ibusiness_flex-txt .register {
  color: #fff;
  text-decoration: none;
  font-family: Manrope;
  padding: 15px;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}
.flex_btnn {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.ibusiness_main {
  background-color: #e7f2fc;
  padding: 20px 0;
}
.ibusiness_content {
  max-width: 1024px;
  margin: 0 auto;
}
.ibusiness_content h2 {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 500;
  padding: 20px 0 10px;
  line-height: normal;
}

.ibusiness_content p {
  color: #2a3f61;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-mobile-big);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ibusiness_content_flex {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.ibusiness_content_flex img {
  max-width: 45%;
}
.ibusiness_content_flex .business_txt {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 45%;
}
.business_txt h3 {
  padding: 15px;
  /* text-align: center; */
  max-width: 15rem;
  background-color: #2a3f61;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--p-mobile-big);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  line-height: normal;
}
.business_txt p {
  all: unset;
  color: #000;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ibusiness_content_flex:nth-child(even) {
  flex-direction: row-reverse;
}
.ibusiness_hero_alt {
  background-color: #009cd1;
}
.ibusiness_flex_alt {
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ibusiness_flex_alt .ibusiness_flex-txt {
  width: 45% !important;
}
.ibusiness_flex_alt img {
  max-width: 45%;
}

@media (max-width: 700px) {
  .ibusiness_content_flex {
    flex-direction: column;
    row-gap: 2rem;
  }
  .ibusiness_content_flex:nth-child(even) {
    flex-direction: column;
  }
  .ibusiness_content_flex img {
    max-width: 90% !important;
  }
  .business_txt {
    width: 90% !important;
    text-align: center;
  }
  .business_txt h3 {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .ibusiness_flex_alt {
    flex-direction: column;
    row-gap: 2rem;
  }
  .ibusiness_flex_alt img {
    max-width: 90%;
  }
  .ibusiness_flex_alt .ibusiness_flex-txt {
    width: 90% !important;
    margin-bottom: 2rem;
  }
  .ibusiness_flex-txt h2 {
    font-size: var(--h3-font-big);
  }
}

.sponsorship_head {
  background-color: #2a3f61;
  padding: 4rem 0;
}
.sponsorship_head_content {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.sponsorship_head_content h2 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: var(--h1-font-mobile);
  font-style: normal;
  font-weight: 600;
  line-height: 103.6%; /* 6.216rem */
}

.sponsorship_head_content p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sponsorship_head_content a {
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.045rem;
  text-decoration: none;
  background-color: #ffc727;
  border-radius: 0.5rem;
  padding: 15px;
}

.sponsorship_main {
  background-color: #17a1fa;
  padding: 3rem 0;
}
.sponsorship_main_content {
  max-width: 1024px;
  margin: 0 auto;
}
.sponsorship_main_content p {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.sponsorship_main_content h2 {
  color: #fff;
  font-family: Manrope;
  font-size: var(--p-mobile-big);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.img_flex {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}
.img_flex img {
  max-width: 33%;
}
.inner_img_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.badge {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.badge_img {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}
.badge_img img {
  width: 100%;
}
.badge_txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.badge_txt h2 {
  margin-bottom: 20px;
}
.badge_txt p {
  text-align: left;
  width: 80%;
}
.main_alt {
  max-width: 1024px;
  margin: 4rem auto;
}

.main_alt h2 {
  color: #000;
  font-family: Manrope;
  font-size: var(--h2-font-mobile);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 80%;
  margin-bottom: 20px;
}
.main_alt h3 {
  color: #000;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 80%;
  margin-bottom: 20px;
}

.main_alt p {
  max-width: 80%;
  color: #000;
  font-family: Manrope;
  font-size: var(--p-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.contact header {
  background-color: #2a3f61;
}
.contact header h2 {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--h2-font);
  line-height: 1.1;
}
.contact .guide {
  max-width: 1024px;
  margin: 0 auto;
}
.contact .guide h2 {
  color: #2a3f61;
  text-align: center;
  padding: 2rem 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--h2-font);
  line-height: 1.1;
}
.contact .guide h3 {
  color: #2a3f61;
  padding-bottom: 1rem;
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--h3-font);
  line-height: 1.1;
}
.contact .guide p {
  color: #2a3f61;
  padding-bottom: 1rem;
  font-family: Manrope;
  font-weight: 300;
  font-size: var(--p-font);
  line-height: 1.1;
}

.get,
.sc {
  color: #fff;
  max-width: 28rem;
  margin: 3rem 10px;
}
.get_content,
.sc_content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc_content h2,
.get_content h2 {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--h2-font);
  line-height: 1.1;
}
.sc_content p,
.get_content p {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-family: Manrope;
  font-weight: 400;
  font-size: var(--p-font);
  line-height: 1.5;
}
.sc_content img,
.get_content img {
  width: 100%;
  margin-bottom: 10px;
}
.tsign {
  background-color: #ffc727;
  text-decoration: none;
  padding: 10px;
  color: #2a3f61;
  font-family: Manrope;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  border-radius: 0.5rem;
}
.tsign_alt {
  color: #fff;
  text-decoration: none;
  font-family: Manrope;
  padding: 10px;
  font-size: var(--p-font-mobile);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}
@media (max-width: 890px) {
  .contact .end_content {
    align-items: center;
  }
  .contact .guide h2,
  .contact .guide p,
  .contact .guide h3 {
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
}
